body{
    color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    /* background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Alpha-pattern-_20388.jpeg) ; */
}
#logo{
height: 70px;
border-radius: 50%;
border-color: black;
border: 4px solid;
}
header{
    background-color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    text-decoration-style: wavy;
    text-shadow: 2px;
}
.name{
    font-size: 80px;
    margin: 0;
    font-style: italic;
    font-family: fantasy;
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(90, 90, 90);
}
.about{
    display: flex;
    background-color:rgb(109, 109, 109) ;
    margin: 50px;
    border-radius: 50px;
}
.pic1{
    height: 500px;
    width: 400px;
    border-radius: 70px;
    border: 50px solid white;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

}
.pic1 :hover{
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    transform: scale(1.05);
}
.div1{
    margin-right: 70px;
    margin-left: 70px;
    background-color: white;
    box-sizing: content-box;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.div2{
    margin-left: 70px;
    margin-right: 70px;
    border: 50px solid white;
    border-radius: 50px;
    text-align: center;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 70px;
}
h2{
    font-style: italic;
    font-size: 60px;
}
p{
    font-size: 40px;
}
.tut{
    display: flex;
    background-color:rgb(109, 109, 109) ;
    margin: 50px;
    border-radius: 50px;
}
.pic2{
    width: 200px;
    border-radius: 50%;
    margin: 30px;
}
.pic3{
    width: 200px;
    border-radius: 50%;
    margin: 30px;
}
.pic4{
    width: 200px;
    border-radius: 50%;
    margin: 30px;
}


.footer{
    text-align: center;
    color: white;
    font-size: 4px;
}